# Terraform directory & state files
.terraform/
*.tfstate
*.tfstate.backup
.terraform*

# Log files
*.log

# Ignore secret files
*.pem
*.key
terraform.tfvars

# Ignore IDE and editor directories
.idea/
*.swp
.vscode/

# Ignore executable files
*.exe
*.dll
*.so
*.dylib
